Hi {{ name }},

We’re working on **{{ offer }}** to solve {{ pain_points | join(", ") }}.
Here are the main benefits:

{% for b in benefits -%}
- {{ b }}
{% endfor %}

Would you like me to send over a quick demo?
